{% extends 'layout.html' %}
{% block content %}
<br>
<h3 class="text-center">Fake News Detector</h3>
<br>
<p class="px-3">Fake News Detector predicts whether the given news if fake or real. It uses a Logistic Regression model for prediction. This is the <a href="https://www.kaggle.com/c/fake-news/data?select=train.csv" class="link-primary">dataset</a> that I have used to implement this predictor.</p>
<br>
<form method="POST" class="px-3">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter the title of the news article" name="title" id="title">
        </div>
    </div>  
    <br>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter the author of the news article" placeholder="Enter the author of the news article" name="author" id="author">
        </div>
    </div> 
    <br>
    <button type="submit" class="btn btn-primary">Predict</button>
</form>
{% endblock %}